<%- partial('_partial/head') %>

<body>
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>
  <main class="content">
    <%- body %>
    <%- partial('_partial/footer') %>
  </main>
  <aside class="sidebar">
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
  </aside>
  <%- partial('_partial/after-footer') %>
</body>
  <script defer src="/live2d-widget/autoload.js"></script>
</html>


<script type="text/javascript">
  var OriginTitile=document.title,st;
document.addEventListener("visibilitychange",function(){
      document.hidden?(document.title="中国人才网",clearTimeout(st)):(document.title="你好，国家栋梁",st=setTimeout(function(){document.title=OriginTitile},3e3))
  })
</script>


